<div class="mr-xl-5 justify-content-center">
    <h4>{{ title }}</h4>
    <hr class="mb-5">
    <!-- Form -->
    <form autocomplete="off" (ngSubmit)="submit()" [formGroup]="form">
        <!-- Telephone number -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Teléfono</label>
            <div class="form-row col">

                <div class="col">
                    <input class="form-control" type="text" formControlName="telephoneNumber" [class.is-invalid]="invalidInput('telephoneNumber')">
                </div>
                <label class="col-3 col-form-label pl-5 pr-5">Tipo</label>

                <div class="col">
                    <!-- Line Type -->
                    <select class="form-control" formControlName="type" [class.is-invalid]="invalidInput('type')">
                        <option value="" disabled>Choose the line type</option>
                        <option>Basic</option>
                        <option>ADSL</option>
                        <option>RDSI</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">
     

        <div class="form-group row">
            <!-- <label class="col-2 col-form-label">&nbsp;</label> -->
            <div class="input-group col">
                <button type="submit" class="btn btn-primary">Siguiente</button>
            </div>
        </div>

    </form>
</div>
