<div class="mr-xl-5 justify-content-center">
    <h4>{{ title }}</h4>
    <hr class="mb-5">
    <!-- Form -->
    <form autocomplete="off" (ngSubmit)="submit()" [formGroup]="form">
        <!-- telephoneNumber -->
        <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Número de teléfono</label>
            <div class="col">

                <input class="form-control" type="text" formControlName="telephoneNumber" [class.is-invalid]="invalidInput('telephoneNumber')">
            </div>
        </div>

        <!-- destinationTelephoneNumber -->
        <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Teléfono de destino</label>
            <div class="form-row col">

                <div class="col">

                    <input class="form-control" type="text" formControlName="destinationTelephoneNumber" [class.is-invalid]="invalidInput('destinationTelephoneNumber')">
                </div>

            </div>
        </div>


        
        <!-- startDate -->
        <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Fecha y hora de inicio</label>
            <div class="form-row col">

                <div class="col">

                    <input class="form-control" type="text" formControlName="startDate" [class.is-invalid]="invalidInput('startDate')">
                </div>

            </div>
        </div>


        
        <!-- endDate -->
        <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Fecha y hora de fin</label>
            <div class="form-row col">

                <div class="col">

                    <input class="form-control" type="text" formControlName="endDate" [class.is-invalid]="invalidInput('endDate')">
                </div>

            </div>
        </div>
      

        <div class="form-group row">
            <div class="input-group col">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>


        

    </form>
</div>
