<div class="mr-xl-5 justify-content-center">
    <h4>{{ title }}</h4>
    <hr class="mb-5">
    <!-- Form -->
    <form autocomplete="off" (ngSubmit)="submit()" [formGroup]="form">
        <!-- Service Code -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Código de servicio</label>
            <div class="form-row col">

                <div class="col">
                    <input class="form-control" type="text" formControlName="service_code" [class.is-invalid]="invalidInput('service_code')">
                </div>
                <label class="col-3 col-form-label pl-5 pr-5">Nombre</label>

         
        <hr class="mt-5 mb-5">
        <!-- Customer Id -->
        <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Descripción</label>
            <div class="col">

                <input class="form-control" type="text" formControlName="description" [class.is-invalid]="invalidInput('description')">
            </div>
        </div>

        <!-- Customer First_Name -->
        <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Costo</label>
            <div class="form-row col">

                <div class="col">

                    <input class="form-control" type="text" formControlName="cost" [class.is-invalid]="invalidInput('cost')">
                </div>
          
     

        <div class="form-group row">
            <!-- <label class="col-2 col-form-label">&nbsp;</label> -->
            <div class="input-group col">
                <button type="submit" class="btn btn-primary">Siguiente</button>
            </div>
        </div>

    </form>
</div>
