<div class="mr-xl-5 justify-content-center">
    <h4>{{ title }}</h4>
    <hr class="mb-5">
    <!-- Form -->
    <form autocomplete="off" (ngSubmit)="submit()" [formGroup]="form">
        <!-- Name -->
        <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">

                <input class="form-control" type="text" formControlName="name" [class.is-invalid]="invalidInput('name')">
            </div>
        </div>

        <!-- Descripción -->
        <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Descripción</label>
            <div class="form-row col">

                <div class="col">

                    <input class="form-control" type="text" formControlName="description" [class.is-invalid]="invalidInput('description')">
                </div>

            </div>
        </div>

        <!-- Costo -->
        <div class="form-group row mb-4">
            <label class="col-2 col-form-label">Costo</label>
            <div class="form-row col">

                <div class="col">

                    <input class="form-control" type="text" formControlName="cost" [class.is-invalid]="invalidInput('cost')">
                </div>

            </div>
        </div>

        <div class="form-group row">
            <div class="input-group col">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>


    </form>
</div>