<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown - Line -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="lineDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Línea</a>
                <div class="dropdown-menu" aria-labelledby="lineDropdown">
                    <a class="dropdown-item" href="#/line/insert">Insertar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#/line/update">Actualizar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#/line/list">Seleccionar</a>
                </div>
            </li>
            <!-- Dropdown - Line_Customer -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="lineCustomerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Línea-Cliente</a>
                <div class="dropdown-menu" aria-labelledby="lineCustomerDropdown">
                    <a class="dropdown-item" href="#/lineCustomer/add">Insertar</a>


                </div>
            </li>
            <!-- Dropdown - Service -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="serviceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicio</a>
                <div class="dropdown-menu" aria-labelledby="serviceDropdown">
                    <a class="dropdown-item" href="#/service/insert">Insertar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#/service/update">Actualizar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#/service/list">Seleccionar</a>
                </div>
            </li>
            <!-- Dropdown - Call -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="callDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Llamada</a>
                <div class="dropdown-menu" aria-labelledby="callDropdown">
                    <a class="dropdown-item" href="#/call/insert">Insertar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#/call/update">Actualizar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#/call/list">Seleccionar</a>
                </div>
            </li>
        </ul>
    </div>
</nav>